HELP.md
target/
logs/
logs/archived
logs/app.log
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
